<section class="hero">
  <div class="hero-content">
    <h1>Find Your Dream Car</h1>
    <p>We have a wide selection of new and used cars to choose from.</p>
    <a href="#" class="cta-button" routerLink="/browseCars">Browse Cars</a>
  </div>
</section>

<section class="featured-cars">
  <h2>Featured Cars</h2>
  <div class="car-gallery">
    <div class="car-card" routerLink="/car/6">
      <img src="https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?w=600&h=400&fit=crop" alt="Car 1">
      <h3>Car Model 1</h3>
      <p>Starting at $25,000</p>
    </div>
    <div class="car-card" routerLink="/car/1">
      <img src="https://images.pexels.com/photos/977003/pexels-photo-977003.jpeg?w=600&h=400&fit=crop" alt="Car 2">
      <h3 >Car Model 2</h3>
      <p>Starting at $90,000</p>
    </div>
    <div class="car-card" routerLink="/car/4">
      <img src="https://images.pexels.com/photos/119435/pexels-photo-119435.jpeg?w=600&h=400&fit=crop" alt="Car 3">
      <h3>Car Model 3</h3>
      <p>Starting at $50,000</p>
    </div>
  </div>
</section>

<section class="contact">
  <h2>Contact Us</h2>
  <p>Have questions? Get in touch with our team.</p>
  <a href="#" class="cta-button" routerLink="/contactUs">Contact Us</a>
</section>